<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("../fragmente/head") %>
        <meta name="keywords" content="error, 404">
        <meta name="description" content="Sorry, nothing to display, try something else.">

        <title>Error 404</title>
    </head>
    
    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Error 404</h2>
                <img id = "error-pic" src="/resurse/pictures/error.jpg" alt="An error picture">
            </section>
        </main>
        
        <%- include("../fragmente/footer") %>
    </body>

</html>