<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../fragmente/head") %>
        <meta name="keywords" content="account, login">
        <meta name="description" content="The page where you login so you don't miss the fun.">

        <title>Login</title>
    </head>
    
    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>LogIn</h2>
            </section>
        </main>
        
        <%- include("../fragmente/footer") %>
    </body>

</html>