<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../fragmente/head") %>
        <meta name="keywords" content="account, login">
        <meta name="description" content="The page where you login so you don't miss the fun.">

        <title>Page Treat Co.</title>
    </head>
    
    <body>
        <%- include("../fragmente/header") %>

        <main class="history">
            <section>
                <h2>Our history</h2>
                <p>We are a new company that works towards promoting reading and especially e-book reading.
                    We hope to help you on your journey of finding new and exciting stories to read.
                    As for our history as a comany, we think it is becoming clear that we have none.
                </p>
            </section>

            <section class="book-pics">
                <img id = "watch-pic" src="/resurse/pictures/watch.jpg" alt="A watch and a book">
                <img id = "key-pic" src="/resurse/pictures/key.jpg" alt="A key and a book">
            </section>
        </main>
        
        <%- include("../fragmente/footer") %>
    </body>

</html>