<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../fragmente/head") %>
        <meta name="keywords" content="account, sign up">
        <meta name="description" content="Just sign up to get the marvelous recommandations we make regarding books.">

        <title>Sign Up</title>
    </head>
    
    <body>
        <%- include("../fragmente/header") %>

        <main>
            <section>
                <h2>Sign Up</h2>
            </section>
        </main>
        
        <%- include("../fragmente/footer") %>
    </body>

</html>