<footer>

    <address>
        Made by: <a href="mailto:andreeamada54@gmail.com">Andreea Dobre</a><br>
        Phone number: <a href="tel:0766666666">0766666666</a>  <br>
        Address: street Somewhere, number 000 <br>
    </address>
   
    <p>Time of complition: <time datetime="2021-03-05T20:00">07.04.2021 23:00 </time><br></p> 

    <div class="cerc">
        <a class="triunghi" href="#TopOfPage">&#5123</a>
        <span class="text-buton">GoToTop</span>
    </div>
    <br>
    <small>&copy; Page Treat</small>

</footer>