<header id="TopOfPage">

    <h1>Page Treat</h1>

    <nav id="meniuprincipal">

        <label id="hamburger" for="check">
            <i class="fa fa-bars"></i>
        </label>

        <input id="check" type="checkbox">
        
        <ul class="tot">
            <li class="meniu">
                <div class="home1"><i class="fa fa-home"></i> <a href="/index"> Home </a></div>
                <div class="home2"><a href="/index"><i class="fa fa-home"></i></a></div> 
                <ul class="submeniu">
                    <li><a href="/PageTreatCo"> Our History </a></li>
                    <li><a href="/galerie"> Galerie </a></li>
                    <li><a href="#info">About us </a></li>
                    <li><a href="#recommandations"> Our recommandations </a></li>
                    <li><a href="#treats"> Monthly treats </a></li>
                </ul>
            </li>
            <li class="meniu"><div> E-books </div> 
                <ul class="submeniu">
                    <li><a href="/books"> All </a></li>
                    <li><a href=""> Fiction </a></li>
                    <li><a href=""> Scientific </a></li>
                    <li><a href=""> New e-books </a></li>
                </ul>
            </li>
            <li class="meniu"><div> Account </div> 
                <ul class="submeniu">
                    <li><a href="/account"> Account Info </a></li>
                    <li><a href="/login"> Login </a></li>
                    <li><a href=""> Log out </a></li>
                    <li><a href="/signup"> Sign up </a></li>
                </ul>
            </li> 
        </ul>
    </nav>

</header>